/*Responsive para dispositivo móvil [360px - 640px]*/
body {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #ffffff;
}

/*Para font-type general*/
select,
option,
label,
.search-fast,
.copyright-txt {
  font-family: AndesRoundedW01-Regular;
  font-weight: normal;
  text-align: center;
}

a,
input {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

/*Encabezado*/
header {
  height: 50px;
  width: auto;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 50px;
  justify-content: space-between;
}

.header-item {
  align-self: center;
}

.wb-logo {
  width: 145px;
  height: auto;
  padding-left: 8px;
}

.menu-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
}

.menu-item {
  align-self: center;
}

select {
  border: 0px transparent;
  margin: 0 auto;
  color: #002244;
  height: 25px;
  cursor: pointer;
  background: 295px 12px no-repeat #ffffff;
  text-align-last: center;
}

select:hover {
  border-radius: 8px;
  background-color: #009FDA;
  color: #ffffff;
}

option {
  background-color: #ffffff;
  color: #002244;
  cursor: pointer;
}

.menu-icon {
  height: 25px;
  padding: 15px;
  cursor: pointer;
}

#menu-display {
  display: none;
}

nav {
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

#menu-display:checked~nav {
  visibility: visible;
  opacity: 1;
}
.menu-list {
  height: 117px;
  width: 100%;
  list-style-type: none;
  margin: -5px 0 0 -85%;
  padding: 0;
  background-color: #002244;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.menu-options a {
  display: block;
  padding: 13.5px 20px;
  color: #ffffff;
  text-align: right;
  font-size: 11px;
  text-decoration: none;
  border-top: 1px solid #009FDA;
}

.menu-options a:hover {
  background-color: #B88C1D;
  color: #ffffff;
  cursor: pointer;
}

/*Menú de secciones*/
.search-container,
.themes-container,
.years-container,
.sort-container,
.average-container{
  height: 102px;
  width: 100%;
  background-color: #002244;
  margin-bottom: 6px;
  background-size: cover;
  background-position: center; 
  display: grid;
  grid-template-columns: 250px auto;
  align-content: center;
  justify-content: center;
}

.menu-txt {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  align-self: center;
}
.arrow-btn {
    height: 35px;
}

.search-container {
  background-image: linear-gradient(rgba(0, 34, 68, .7),rgba(0, 34, 68, .7)), url(https://i.ibb.co/T0srBSV/IBRDCampaign-Page-3-Education.png);  
}

.themes-container {
  background-image: linear-gradient(rgba(0, 34, 68, .7),rgba(0, 34, 68, .7)), url(https://i.ibb.co/D9vwwWt/images-2.jpg);
}

.years-container {
  background-image: linear-gradient(rgba(0, 34, 68, .7),rgba(0, 34, 68, .7)), url(https://i.ibb.co/8svmWrq/Mujeres-acomodando-sus-cosechas-sureste-de-Guatemala-Barbara-Coello.jpg); 
}

.sort-container {
  background-image: linear-gradient(rgba(0, 34, 68, .7),rgba(0, 34, 68, .7)), url(https://i.ibb.co/T05zLK8/fragility-SP.png);
}

.average-container {
  background-image: linear-gradient(rgba(0, 34, 68, .7),rgba(0, 34, 68, .7)), url(https://i.ibb.co/DVmp8Cq/IBRD-Learn-More-Tiles-ABC-SP.png);  
  margin-bottom: 0px;
}

/*Pie de página*/
footer {
  height: 40px;
  justify-content: space-around;
  display: flex;
}

.copyright {
  display: flex;
  font-size: 10px;
}

.copyright-txt,
.btn-referencia,
.wb-logo-bw {
  align-self: center;
  margin:0 5px 0 5px;
  cursor: context-menu;
}

.wb-logo-bw {
  height: 19px;
}

#apa-btn {
  width: 84px;
  height: 21px;
  border-radius: 7px;
  background-color: #000000;
  color: #ffffff;
  font-size: 7px;
}

#apa-btn:hover {
  background-color: #B88C1D;
  cursor: pointer;
}
/*-----SECCION DESKTOP-----*/
/*
@media only screen and (min-width : 641px) { 
*/
/* Encabezado DESKTOP */
/*header {
    height: 135px;
}
.header-container {
    grid-auto-rows: 135px;
}  
.wb-logo {
    width: 370px;
    padding-left: 20px;
}
select {
    height: 35px;
    width: 90px;
    font-size: 16px;
}
.menu-icon {
    height: 33px;
}
.menu-list {
    width: 240px;
    margin: 0 0 0 -10%;
}
.menu-options a {
    font-size: 15px;
  }
 */
  /*Pie de página*/
/*footer {
    height: 50px;
    bottom: 0;
  }
  
.copyright {
    width: 290px;
    font-size: 13.5px;
  }
  
  .wb-logo-bw {
    height: 25px;
  }
  
  #apa-btn {
    width: 140px;
    height: 30px;
    font-size: 11px;
  }
  */
